:root{
  background-color:cadetblue;
}

.stateContainer{
  text-align:center;
  height:auto;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

.state{
  background-color:darkgoldenrod;
  text-align:center;
  font-size:15px;
  border:1px;
  border-style:solid;
  padding:10px;
  border-color:black;
  display: inline-block;
  width:150px;
  height:50px;
  margin:5px;
}

.app{
  text-align:center;
  width:100%;
}